body{
    margin: 0;
    padding: 0;
    background-color: #f7e9c4;
}
#topo{
    width: 100%;
    min-height: 9rem;
    background-color: #8b0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 6rem;
    height: 9rem;
    margin-left: 2vh;
    margin-top: 1vw;
}
.menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.menuimg{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 2%;
}

#menu ul li {
    list-style: none;
    color: #fafafa;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
#itens {
    position: absolute;
    width: 100%;
    top: 9rem;   
    margin-left: 90%;
    background-color: #8b0000;
}

#menu ul li a{
    text-decoration: none;
}
.linha {
width: 30px;
height: 3px;
background-color: #333;
margin: 5px 0;
}
.igreja{
    width: 31.5%;
    margin-top: 1%;
}
.igreja2{

    width: 20%;
    margin-top: -29%;
    margin-right: 67%;
}
.titulo{
    color: #C9A646;
    text-align: center;
    font-size: 3rem;
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.agenda{
    color:#8b0000;
    margin-left:4%;
    margin-top: 5%;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.subt{
    color:#7a7a7a;
    margin-left: 22%;
    margin-top: 4%;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.subtC{
    color:#7a7a7a;
    margin-left: 52%;
    margin-top: -25.55%;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.dias{
    color:#8b0000;
    margin-left: 22.2%;
    margin-top: -0.5%;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.diasC{
    width: 28rem;
    color:#8b0000;
    margin-left: 53%;
    margin-top: -0.5%;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.horario{
    color:#8b0000;
    margin-left: 22.2%;
    margin-top: -0.5%;
    font-size: 2rem;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.subtsobre{
    color:#7a7a7a;
    margin-left: 36%;
    margin-top: 24%;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.txtsobre{
    color:#8b0000;
    margin-left: 36%;
    width: 60%;
    margin-top: 2%;
    font-size: 2rem;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.igreja3{
    display: flex;
    width: 26%;
    margin-top: -33.5%;
    margin-right: 65%;
}
.subtEnd{
    color:#7a7a7a;
    text-align: center;
    margin-top: 8%;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.local{
    display: flex;
    margin-left: 30%;
    width: 40%;
    margin-top: 2%;
}
.subtcomunidades {
    color: #7a7a7a;
    text-align: center;
    margin-top: 10rem;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.Comunidades{
    width: 100%;
    height: 20rem;
    background-color: #f7e9c4;
}
.Comunidades ul{
    
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 6rem;
}
.Comunidades ul li{
    list-style: none;
    color: #8b0000;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem 0;
    margin-left: 6rem;
}
.Comunidades ul li a {
    text-decoration: none;
    color: inherit;
}
.enddiv{
    display: inline-flex;
    width: 90%;
    height: 20rem;
    background-color: #f7e9c4;
    gap: 10rem;
    margin-left:8rem;
}
.end{

    color:#7a7a7a;
    margin-top: 1%;
    width: 50%;
    height: 10rem;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 115%;
}
